################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/.vscode/*
*.cache
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
*.sqlite
TestResult.xml
*.VisualState.xml
*/bin/*
*/obj/*
*.dtbcache.v2

/.idea

*/appsettings.json